
mat-card-header{
    text-align: center;
}
mat-card-header:hover{
    background-color: #130f40;
    border-radius: 3px;
    transition: 1s;
    cursor:pointer;
}


mat-card-header:hover .card-icon{
    background-color: #f9d806;
}

mat-card-header:hover #title{
    color: white;
    transition: 1s;
}

.card-icon{
    background-color: #eee;
    padding: 9px 0px;
    margin-right: 10px;
}

#status{
    color: #f9d806;
}