<mat-sidenav-container  fullscreen>
    <mat-sidenav #sidenav mode="side">
        <mat-list role="list" class="mat-list">
            <mat-list-item role="listitem">
                <a href="">Home</a> 
            </mat-list-item>
            <mat-list-item role="listitem">
                <a href="">Vehicules</a> 
            </mat-list-item>
            <mat-list-item role="listitem">
                <a href="">Services</a> 
            </mat-list-item>
            <mat-list-item role="listitem">
                <a href="">Featured</a> 
            </mat-list-item>
            <mat-list-item role="listitem">
                <a href="">Review</a> 
            </mat-list-item>
            <mat-list-item role="listitem">
                <a href="">Contact</a> 
            </mat-list-item>
          </mat-list>
    </mat-sidenav>

    
   
    <mat-toolbar class="mat-tool">
        <button mat-icon-button 
                (click)="sidenav.toggle()"
                id="btn-sidenav"
                (click)="changeButtonIcon()">
          <mat-icon>{{button}}</mat-icon>
        </button>
        <span class="logo-center"></span>
        <a href="#" class="logo fw-bold"><span>BUY</span>car</a>
        
        <span class="spacer"></span>
        <nav class="navbar">
            <a href="">Home</a>
            <a href="">Vehicules</a>
            <a href="">Services</a>
            <a href="">Featured</a>
            <a href="">Review</a>
            <a href="">Contact</a>
        </nav>
        
        
        
        <span class="example-spacer"></span>
        <button mat-raised-button 
                class="btn-login"
                (click)="login()">
                    Login
        </button>
        <button mat-icon-button 
                class="user-icon">
          <mat-icon>person</mat-icon>
        </button>
      </mat-toolbar>


      <section class="home">
        <h1 class="home-parallax fw-bold">FIND YOUR CAR</h1>
        <img class="home-parallax mt-5" data-speed="5" src="../../../../assets/image/home-img.png">
        <button mat-raised-button>
            Explore Cars
        </button>
      </section>

      
        <section class="icons-container my-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 mt-5 mb-5"*ngFor="let statuss of status">
                        <div class="sta" >
                            <app-status-card [statuss]="statuss"></app-status-card>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       


        <section class="carousel">
            <div class="container-fluid my-5">
                <h1 class="text-center fw-bold display-1 mb-5">Popular <span class="text-warning">Vehicles</span></h1>
                <div class="row">
                    <app-carousel></app-carousel>
                </div>
            </div>
            
        </section>
      
      









</mat-sidenav-container>
  