



<div class="card" >
    <div class="card-icon text-center mt-3">
        <button mat-fab class="icon-services" disabled>
            <mat-icon aria-hidden="false" 
                      aria-label="Example home icon" 
                      fontIcon="{{service.icon}}"
                      style="color: black;">
            </mat-icon>
        </button>
    </div>
    
    <div class="card-body">
      <h2 class="card-title text-center fw-bold">{{service.title}}</h2>
      <p class="card-text">{{service.text}}</p>
      <div class="text-center">
        <a href="#" class="btn btn-warning">Read More</a>
    
      </div>
    </div>
</div>
