<div class="row">
    <div class="flex container">
        <div class="col-md-3 mt-3">
            <h2 class="fw-bold">Our Branches</h2>
            <ul>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="share_location"></mat-icon>
                    <a class="fw-bold" href="#"> India</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="share_location"></mat-icon>
                    <a class="fw-bold" href="#"> France</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="share_location"></mat-icon>
                    <a class="fw-bold" href="#"> Africa</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="share_location"></mat-icon>
                    <a class="fw-bold" href="#"> Autralia</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="share_location"></mat-icon>
                    <a class="fw-bold" href="#"> Russia</a> 
                </li>
            </ul>
        </div>
        <div class="col-md-3 mt-3">
            <h2 class="fw-bold">Quick Links</h2>
            <ul>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
                    <a class="fw-bold" href="#"> Home</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
                    <a class="fw-bold" href="#"> Vehicules</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
                    <a class="fw-bold" href="#"> Services</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
                    <a class="fw-bold" href="#"> Featured</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
                    <a class="fw-bold" href="#"> Reviews</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
                    <a class="fw-bold" href="#"> Contact</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 mt-3">
            <h2 class="fw-bold">Quick Links</h2>
            <ul>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="phone"></mat-icon>
                    <a class="fw-bold" href="#"> +53-52024328</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="phone"></mat-icon>
                    <a class="fw-bold" href="#"> +111-222-3333</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="email"></mat-icon>
                    <a class="fw-bold" href="#"> ernesto.pella@gmail.com</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="share_location"></mat-icon>
                    <a class="fw-bold" href="#"> La Habana, Cuba-404040</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 mt-3">
            <h2 class="fw-bold">Quick Links</h2>
            <ul>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="facebook"></mat-icon>
                    <a class="fw-bold" href="#"> Facebook</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="facebook"></mat-icon>
                    <a class="fw-bold" href="#"> Twitter</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="facebook"></mat-icon>
                    <a class="fw-bold" href="#"> Instagram</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="linkedin"></mat-icon>
                    <a class="fw-bold" href="#"> Linkedin</a>
                </li>
                <li class="mt-3">
                    <mat-icon aria-hidden="false" fontIcon="pinterest"></mat-icon>
                    <a class="fw-bold" href="#"> Pinterest</a>
                </li>
            </ul>
        </div>
    </div> 
</div>